.container {
  width: 100vw;
  height: 100vh;
  background-color: #252525;
}

.pointer {
  position: absolute;
  background-color: #788e7f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
}
